In [51]:
import pandas as pd
from sqlalchemy import create_engine

## 4.1: Data Cleaning and Transformation

### Importing the tables

In [181]:
df_customers = pd.read_csv("insert_tables/olist_customers_dataset.csv")
df_geolocation = pd.read_csv("insert_tables/olist_geolocation_dataset.csv")
df_order_items = pd.read_csv("insert_tables/olist_order_items_dataset.csv")
df_order_payments = pd.read_csv("insert_tables/olist_order_payments_dataset.csv")
df_order_reviews = pd.read_csv("insert_tables/olist_order_reviews_dataset.csv")
df_orders = pd.read_csv("insert_tables/olist_orders_dataset.csv")
df_products = pd.read_csv("insert_tables/olist_products_dataset.csv")
df_sellers = pd.read_csv("insert_tables/olist_sellers_dataset.csv")
df_product_category_name_translation = pd.read_csv("insert_tables/product_category_name_translation.csv")

print("datasets loaded")

datasets loaded

### Cleaning the datasets

In [182]:
## Cleaning order_reviews 

# dropped column review since it had more than 88% of the data null and not equivalent for analysis
df_order_reviews.drop(columns=['review_comment_title'], inplace=True)

# for null values in review_comment_message filled them with "No comment" instead of droping the column
df_order_reviews.fillna({'review_comment_message': "No comment"}, inplace=True)

# converting the date columns for easier querying
df_order_reviews['review_creation_date'] =  pd.to_datetime(df_order_reviews['review_creation_date'])
df_order_reviews['review_answer_timestamp'] = pd.to_datetime(df_order_reviews['review_answer_timestamp'])

print('df_order_reviews cleaned!')

df_order_reviews cleaned!

In [183]:
## Cleaning orders

## fill null values for order_approved_at with order_purhcase_timestamp
df_orders['order_approved_at'].fillna(df_orders['order_purchase_timestamp'], inplace=True)

# fill null values for delivery dates with "not delivered"
df_orders.fillna({'order_delivered_carrier_date': "Not delivered"}, inplace=True)
df_orders.fillna({'order_delivered_customer_date': "Not delivered"}, inplace=True)

# Convert to date the columns
df_orders['order_purchase_timestamp'] = pd.to_datetime(df_orders['order_purchase_timestamp'])
df_orders['order_approved_at'] = pd.to_datetime(df_orders['order_approved_at'])

## for if you need to convert the columns to date for analytical purposes they will be Nat if it contains "not delivered"
df_orders['order_delivered_carrier_date'] = pd.to_datetime(df_orders['order_delivered_carrier_date'], errors='coerce')  # Convert "Not delivered" to NaT
df_orders['order_delivered_customer_date'] = pd.to_datetime(df_orders['order_delivered_customer_date'], errors='coerce')  # Convert "Not delivered" to NaT
df_orders['order_estimated_delivery_date'] = pd.to_datetime(df_orders['order_estimated_delivery_date'])

print('df_orders cleaned!')

/tmp/ipykernel_3936/2757226724.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_orders['order_approved_at'].fillna(df_orders['order_purchase_timestamp'], inplace=True)

df_orders cleaned!

In [184]:
## Cleaning products table

# Rename columns to fix 'lenght' to 'length'
df_products.rename(columns={
    'product_name_lenght': 'product_name_length',
    'product_description_lenght': 'product_description_length'
}, inplace=True)

# filling null values 
df_products.fillna({'product_category_name': "unknown"}, inplace=True)
df_products.fillna({'product_name_length': 0}, inplace=True)
df_products.fillna({'product_name_length': 0}, inplace=True)
df_products.fillna({'product_photos_qty': 0}, inplace=True)
df_products.fillna({'product_weight_g': 0}, inplace=True)
df_products.fillna({'product_length_cm': 0}, inplace=True)
df_products.fillna({'product_height_cm': 0}, inplace=True)
df_products.fillna({'product_width_cm': 0}, inplace=True)

print('df_products cleaned!')

df_products cleaned!

In [185]:
def remove_duplicates_and_check_nulls(df, subset_columns=None, keep='first'):
    # Count the number of duplicated rows before removal
    initial_duplicate_count = df.duplicated(subset=subset_columns, keep=keep).sum()
    print(f"Initial duplicated rows: {initial_duplicate_count}")
    
    # Remove duplicates from the DataFrame
    df_cleaned = df.drop_duplicates(subset=subset_columns, keep=keep)
    
    # Log the number of duplicated rows removed
    removed_duplicate_count = initial_duplicate_count - df_cleaned.duplicated(subset=subset_columns, keep=keep).sum()
    print(f"Removed {removed_duplicate_count} duplicate rows from subset: {subset_columns}")
    
    # Check total counts of each column after removing duplicates
    print("\nTotal count of each column after removing duplicates:")
    print(df_cleaned.count())
    
    # Check for null values in each column
    null_counts = df_cleaned.isnull().sum()
    print("\nNull values in each column after cleaning:")
    print(null_counts)
    
    # Check for remaining duplicates
    remaining_duplicates = df_cleaned.duplicated(subset=subset_columns, keep=False).sum()
    print(f"\nRemaining duplicated rows after cleaning: {remaining_duplicates}")
    print("-----------------------------------------------------------------")
    
    return df_cleaned  # Only return the cleaned DataFrame


df_customers = remove_duplicates_and_check_nulls(df_customers, subset_columns=['customer_id'])
df_order_items = remove_duplicates_and_check_nulls(df_order_items, subset_columns=['order_id'])
df_order_payments = remove_duplicates_and_check_nulls(df_order_payments, subset_columns=['order_id'])
df_order_reviews = remove_duplicates_and_check_nulls(df_order_reviews, subset_columns=['review_id'])
df_orders = remove_duplicates_and_check_nulls(df_orders, subset_columns=['order_id'])
df_products = remove_duplicates_and_check_nulls(df_products, subset_columns=['product_id'])
df_sellers = remove_duplicates_and_check_nulls(df_sellers, subset_columns=['seller_id'])
df_product_category_name_translation = remove_duplicates_and_check_nulls(df_product_category_name_translation, subset_columns=['product_category_name'])

Initial duplicated rows: 0
Removed 0 duplicate rows from subset: ['customer_id']

Total count of each column after removing duplicates:
customer_id                 99441
customer_unique_id          99441
customer_zip_code_prefix    99441
customer_city               99441
customer_state              99441
dtype: int64

Null values in each column after cleaning:
customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

Remaining duplicated rows after cleaning: 0
-----------------------------------------------------------------
Initial duplicated rows: 13984
Removed 13984 duplicate rows from subset: ['order_id']

Total count of each column after removing duplicates:
order_id               98666
order_item_id          98666
product_id             98666
seller_id              98666
shipping_limit_date    98666
price                  98666
freight_value          98666
dtype: int64

Null values in each column after cleaning:
order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

Remaining duplicated rows after cleaning: 0
-----------------------------------------------------------------
Initial duplicated rows: 4446
Removed 4446 duplicate rows from subset: ['order_id']

Total count of each column after removing duplicates:
order_id                99440
payment_sequential      99440
payment_type            99440
payment_installments    99440
payment_value           99440
dtype: int64

Null values in each column after cleaning:
order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

Remaining duplicated rows after cleaning: 0
-----------------------------------------------------------------
Initial duplicated rows: 814
Removed 814 duplicate rows from subset: ['review_id']

Total count of each column after removing duplicates:
review_id                  98410
order_id                   98410
review_score               98410
review_comment_message     98410
review_creation_date       98410
review_answer_timestamp    98410
dtype: int64

Null values in each column after cleaning:
review_id                  0
order_id                   0
review_score               0
review_comment_message     0
review_creation_date       0
review_answer_timestamp    0
dtype: int64

Remaining duplicated rows after cleaning: 0
-----------------------------------------------------------------
Initial duplicated rows: 0
Removed 0 duplicate rows from subset: ['order_id']

Total count of each column after removing duplicates:
order_id                         99441
customer_id                      99441
order_status                     99441
order_purchase_timestamp         99441
order_approved_at                99441
order_delivered_carrier_date     97658
order_delivered_customer_date    96476
order_estimated_delivery_date    99441
dtype: int64

Null values in each column after cleaning:
order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                   0
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

Remaining duplicated rows after cleaning: 0
-----------------------------------------------------------------
Initial duplicated rows: 0
Removed 0 duplicate rows from subset: ['product_id']

Total count of each column after removing duplicates:
product_id                    32951
product_category_name         32951
product_name_length           32951
product_description_length    32341
product_photos_qty            32951
product_weight_g              32951
product_length_cm             32951
product_height_cm             32951
product_width_cm              32951
dtype: int64

Null values in each column after cleaning:
product_id                      0
product_category_name           0
product_name_length             0
product_description_length    610
product_photos_qty              0
product_weight_g                0
product_length_cm               0
product_height_cm               0
product_width_cm                0
dtype: int64

Remaining duplicated rows after cleaning: 0
-----------------------------------------------------------------
Initial duplicated rows: 0
Removed 0 duplicate rows from subset: ['seller_id']

Total count of each column after removing duplicates:
seller_id                 3095
seller_zip_code_prefix    3095
seller_city               3095
seller_state              3095
dtype: int64

Null values in each column after cleaning:
seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64

Remaining duplicated rows after cleaning: 0
-----------------------------------------------------------------
Initial duplicated rows: 0
Removed 0 duplicate rows from subset: ['product_category_name']

Total count of each column after removing duplicates:
product_category_name            71
product_category_name_english    71
dtype: int64

Null values in each column after cleaning:
product_category_name            0
product_category_name_english    0
dtype: int64

Remaining duplicated rows after cleaning: 0
-----------------------------------------------------------------

## 4.2: Creating calculated columns

In [186]:
## Total price: sum of product price and freight value 
df_order_items["total_price"] = df_order_items["price"] + df_order_items["freight_value"]

## Delivery Time: Difference between the delivery date and the order purchase date.
df_orders["delivery_time"] = (df_orders["order_delivered_customer_date"] - df_orders["order_purchase_timestamp"]).dt.days
df_order_items = df_order_items.merge(df_orders[["order_id", "delivery_time"]],on="order_id",how="left")

## Payment Count: Sum of payment installments for each order. (Done)
df_order_payments['sum_of_payment_installments'] = df_order_payments.groupby('order_id')['payment_installments'].transform('sum')
df_order_items = df_order_items.merge(df_order_payments[["order_id", "sum_of_payment_installments"]],on="order_id",how="left")

## Profit Margin: Subtract freight value from product price to calculate a rough profit estimate.
df_order_items['profit_margin'] = df_order_items['price'] - df_order_items['freight_value']

## checkings after calculations
df_order_items

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,total_price,delivery_time,sum_of_payment_installments,profit_margin
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,72.19,7.0,2.0,45.61
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,259.83,16.0,3.0,219.97
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,216.87,7.0,5.0,181.13
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,25.78,6.0,2.0,0.20
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,218.04,25.0,3.0,181.76
...,...,...,...,...,...,...,...,...,...,...,...
98661,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41,343.40,17.0,1.0,256.58
98662,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53,386.53,9.0,1.0,313.47
98663,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95,116.85,4.0,3.0,82.95
98664,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72,64.71,1.0,3.0,47.27
98665,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79,55.79,5.0,1.0,30.21

## 4.3: Using Window Functions Over Partitions (Pandas)

In [187]:
# Total Sales per Customer: A running total of product price for each customer partitioned by Customer ID.

df_merged_sales = df_order_items.merge(df_orders[['order_id', 'customer_id']], on='order_id')
df_merged_sales_df = df_merged_sales.merge(df_customers[['customer_id']], on='customer_id')

df_merged_sales_df = df_merged_sales_df.sort_values(by=['customer_id', 'order_id'])

df_merged_sales_df['cumulative_sales'] = df_merged_sales_df.groupby('customer_id')['price'].cumsum()

total_sales_per_customer = df_merged_sales_df[['customer_id', 'order_id', 'price', 'cumulative_sales']]

df_order_items = df_order_items.merge(total_sales_per_customer[['order_id', 'cumulative_sales']], on='order_id', how='left')

df_order_items

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,total_price,delivery_time,sum_of_payment_installments,profit_margin,cumulative_sales
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,72.19,7.0,2.0,45.61,58.90
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,259.83,16.0,3.0,219.97,239.90
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,216.87,7.0,5.0,181.13,199.00
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,25.78,6.0,2.0,0.20,12.99
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,218.04,25.0,3.0,181.76,199.90
...,...,...,...,...,...,...,...,...,...,...,...,...
98661,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41,343.40,17.0,1.0,256.58,299.99
98662,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53,386.53,9.0,1.0,313.47,350.00
98663,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95,116.85,4.0,3.0,82.95,99.90
98664,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72,64.71,1.0,3.0,47.27,55.99
98665,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79,55.79,5.0,1.0,30.21,43.00

In [188]:
# Average Delivery Time per Product Category: A rolling average of delivery time partitioned by product category.

df_merged_delivery = df_order_items.merge(df_products[['product_id', 'product_category_name']], on='product_id')

df_merged_delivery = df_merged_delivery.sort_values(by=['product_category_name', 'order_id'])

df_merged_delivery['rolling_avg_delivery_time'] = (df_merged_delivery.groupby('product_category_name')['delivery_time']
                                                   .rolling(window=3, min_periods=1).mean()
                                                   .reset_index(level=0, drop=True))

avg_delivery_time_per_category = df_merged_delivery[['product_category_name', 'order_id', 'rolling_avg_delivery_time']]

df_order_items = df_order_items.merge(avg_delivery_time_per_category,on='order_id',how='left')

df_order_items['rolling_avg_delivery_time'] = df_order_items['rolling_avg_delivery_time'].round(0)

df_order_items

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,total_price,delivery_time,sum_of_payment_installments,profit_margin,cumulative_sales,product_category_name,rolling_avg_delivery_time
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,72.19,7.0,2.0,45.61,58.90,cool_stuff,7.0
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,259.83,16.0,3.0,219.97,239.90,pet_shop,16.0
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,216.87,7.0,5.0,181.13,199.00,moveis_decoracao,7.0
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,25.78,6.0,2.0,0.20,12.99,perfumaria,6.0
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,218.04,25.0,3.0,181.76,199.90,ferramentas_jardim,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98661,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41,343.40,17.0,1.0,256.58,299.99,utilidades_domesticas,18.0
98662,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53,386.53,9.0,1.0,313.47,350.00,informatica_acessorios,14.0
98663,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95,116.85,4.0,3.0,82.95,99.90,esporte_lazer,11.0
98664,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72,64.71,1.0,3.0,47.27,55.99,informatica_acessorios,10.0
98665,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79,55.79,5.0,1.0,30.21,43.00,cama_mesa_banho,11.0

## 4.4 Saving Processed Data to SQL Server (Fact & Dimension Tables)

In [189]:
# Fact Table
orders = df_order_items.merge(
    df_orders[['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
                'order_approved_at', 'order_delivered_carrier_date', 
                'order_delivered_customer_date', 'order_estimated_delivery_date']], 
    on='order_id', 
    how='left'
)

orders = orders[['order_id', 'customer_id','product_id', 'order_status', 'order_purchase_timestamp',
                 'order_approved_at', 'order_delivered_carrier_date', 
                 'order_delivered_customer_date', 'order_estimated_delivery_date', 
                 'total_price', 'delivery_time', 
                 'sum_of_payment_installments',
                 'profit_margin', 'cumulative_sales', 
                 'rolling_avg_delivery_time', 'seller_id']]

orders

,order_id,customer_id,product_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,total_price,delivery_time,sum_of_payment_installments,profit_margin,cumulative_sales,rolling_avg_delivery_time,seller_id
0,00010242fe8c5a6d1ba2dd792cb16214,3ce436f183e68e07877b285a838db11a,4244733e06e7ecb4970a6e2683c13e61,delivered,2017-09-13 08:59:02,2017-09-13 09:45:35,2017-09-19 18:34:16,2017-09-20 23:43:48,2017-09-29,72.19,7.0,2.0,45.61,58.90,7.0,48436dade18ac8b2bce089ec2a041202
1,00018f77f2f0320c557190d7a144bdd3,f6dd3ec061db4e3987629fe6b26e5cce,e5f2d52b802189ee658865ca93d83a8f,delivered,2017-04-26 10:53:06,2017-04-26 11:05:13,2017-05-04 14:35:00,2017-05-12 16:04:24,2017-05-15,259.83,16.0,3.0,219.97,239.90,16.0,dd7ddc04e1b6c2c614352b383efe2d36
2,000229ec398224ef6ca0657da4fc703e,6489ae5e4333f3693df5ad4372dab6d3,c777355d18b72b67abbeef9df44fd0fd,delivered,2018-01-14 14:33:31,2018-01-14 14:48:30,2018-01-16 12:36:48,2018-01-22 13:19:16,2018-02-05,216.87,7.0,5.0,181.13,199.00,7.0,5b51032eddd242adc84c38acab88f23d
3,00024acbcdf0a6daa1e931b038114c75,d4eb9395c8c0431ee92fce09860c5a06,7634da152a4610f1595efa32f14722fc,delivered,2018-08-08 10:00:35,2018-08-08 10:10:18,2018-08-10 13:28:00,2018-08-14 13:32:39,2018-08-20,25.78,6.0,2.0,0.20,12.99,6.0,9d7a1d34a5052409006425275ba1c2b4
4,00042b26cf59d7ce69dfabb4e55b4fd9,58dbd0b2d70206bf40e62cd34e84d795,ac6c3623068f30de03045865e4e10089,delivered,2017-02-04 13:57:51,2017-02-04 14:10:13,2017-02-16 09:46:09,2017-03-01 16:42:31,2017-03-17,218.04,25.0,3.0,181.76,199.90,25.0,df560393f3a51e74553ab94004ba5c87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98661,fffc94f6ce00a00581880bf54a75a037,b51593916b4b8e0d6f66f2ae24f2673d,4aa6014eceb682077f9dc4bffebc05b0,delivered,2018-04-23 13:57:06,2018-04-25 04:11:01,2018-04-25 12:09:00,2018-05-10 22:56:40,2018-05-18,343.40,17.0,1.0,256.58,299.99,18.0,b8bc237ba3788b23da09c0f1f3a3288c
98662,fffcd46ef2263f404302a634eb57f7eb,84c5d4fbaf120aae381fad077416eaa0,32e07fd915822b0765e448c4dd74c828,delivered,2018-07-14 10:26:46,2018-07-17 04:31:48,2018-07-17 08:05:00,2018-07-23 20:31:55,2018-08-01,386.53,9.0,1.0,313.47,350.00,14.0,f3c38ab652836d21de61fb8314b69182
98663,fffce4705a9662cd70adb13d4a31832d,29309aa813182aaddc9b259e31b870e6,72a30483855e2eafc67aee5dc2560482,delivered,2017-10-23 17:07:56,2017-10-24 17:14:25,2017-10-26 15:13:14,2017-10-28 12:22:22,2017-11-10,116.85,4.0,3.0,82.95,99.90,11.0,c3cfdc648177fdbbbb35635a37472c53
98664,fffe18544ffabc95dfada21779c9644f,b5e6afd5a41800fdf401e0272ca74655,9c422a519119dcad7575db5af1ba540e,delivered,2017-08-14 23:02:59,2017-08-15 00:04:32,2017-08-15 19:02:53,2017-08-16 21:59:40,2017-08-25,64.71,1.0,3.0,47.27,55.99,10.0,2b3e4a2a3ea8e01938cabda2a3e5cc79
98665,fffe41c64501cc87c801fd61db3f6244,96d649da0cc4ff33bb408b199d4c7dcf,350688d9dc1e75ff97be326363655e01,delivered,2018-06-09 17:00:18,2018-06-09 17:10:13,2018-06-11 14:11:00,2018-06-14 17:56:26,2018-06-28,55.79,5.0,1.0,30.21,43.00,11.0,f7ccf836d21b2fb1de37564105216cc1

In [190]:
# Dimension Tables
customers = df_customers.merge(df_geolocation[['geolocation_zip_code_prefix', 'geolocation_city', 'geolocation_state']], 
                               left_on='customer_zip_code_prefix', 
                               right_on='geolocation_zip_code_prefix', 
                               how='left')
customers = customers.merge(df_orders[['customer_id', 'order_id']], on='customer_id', how='left')
customers = customers[['customer_id', 'order_id', 'customer_city', 'customer_state', 'geolocation_city']]

products = df_products[['product_id', 'product_category_name', 'product_name_length', 'product_description_length', 'product_photos_qty']]

sellers = df_sellers.merge(df_geolocation[['geolocation_zip_code_prefix', 'geolocation_city', 'geolocation_state']], 
                                     left_on='seller_zip_code_prefix', right_on='geolocation_zip_code_prefix', how='left')
sellers = sellers[['seller_id', 'geolocation_city', 'geolocation_state']]

date_dimension = df_orders[['order_id','order_purchase_timestamp', 'order_delivered_customer_date']]

print('Dimension tables created!')

Dimension tables created!

In [191]:
## cleaning the dataframes once again

orders = remove_duplicates_and_check_nulls(orders, subset_columns=['order_id'])
customers = remove_duplicates_and_check_nulls(customers, subset_columns=['customer_id'])
products = remove_duplicates_and_check_nulls(products, subset_columns=['product_id'])
sellers = remove_duplicates_and_check_nulls(sellers, subset_columns=['seller_id'])
date_dimension = remove_duplicates_and_check_nulls(date_dimension, subset_columns=['order_id'])

print('data cleaned!')

Initial duplicated rows: 0
Removed 0 duplicate rows from subset: ['order_id']

Total count of each column after removing duplicates:
order_id                         98666
customer_id                      98666
product_id                       98666
order_status                     98666
order_purchase_timestamp         98666
order_approved_at                98666
order_delivered_carrier_date     97657
order_delivered_customer_date    96476
order_estimated_delivery_date    98666
total_price                      98666
delivery_time                    96476
sum_of_payment_installments      98665
profit_margin                    98666
cumulative_sales                 98666
rolling_avg_delivery_time        98665
seller_id                        98666
dtype: int64

Null values in each column after cleaning:
order_id                            0
customer_id                         0
product_id                          0
order_status                        0
order_purchase_timestamp            0
order_approved_at                   0
order_delivered_carrier_date     1009
order_delivered_customer_date    2190
order_estimated_delivery_date       0
total_price                         0
delivery_time                    2190
sum_of_payment_installments         1
profit_margin                       0
cumulative_sales                    0
rolling_avg_delivery_time           1
seller_id                           0
dtype: int64

Remaining duplicated rows after cleaning: 0
-----------------------------------------------------------------
Initial duplicated rows: 14984292
Removed 14984292 duplicate rows from subset: ['customer_id']

Total count of each column after removing duplicates:
customer_id         99441
order_id            99441
customer_city       99441
customer_state      99441
geolocation_city    99163
dtype: int64

Null values in each column after cleaning:
customer_id           0
order_id              0
customer_city         0
customer_state        0
geolocation_city    278
dtype: int64

Remaining duplicated rows after cleaning: 0
-----------------------------------------------------------------
Initial duplicated rows: 0
Removed 0 duplicate rows from subset: ['product_id']

Total count of each column after removing duplicates:
product_id                    32951
product_category_name         32951
product_name_length           32951
product_description_length    32341
product_photos_qty            32951
dtype: int64

Null values in each column after cleaning:
product_id                      0
product_category_name           0
product_name_length             0
product_description_length    610
product_photos_qty              0
dtype: int64

Remaining duplicated rows after cleaning: 0
-----------------------------------------------------------------
Initial duplicated rows: 431999
Removed 431999 duplicate rows from subset: ['seller_id']

Total count of each column after removing duplicates:
seller_id            3095
geolocation_city     3088
geolocation_state    3088
dtype: int64

Null values in each column after cleaning:
seller_id            0
geolocation_city     7
geolocation_state    7
dtype: int64

Remaining duplicated rows after cleaning: 0
-----------------------------------------------------------------
Initial duplicated rows: 0
Removed 0 duplicate rows from subset: ['order_id']

Total count of each column after removing duplicates:
order_id                         99441
order_purchase_timestamp         99441
order_delivered_customer_date    96476
dtype: int64

Null values in each column after cleaning:
order_id                            0
order_purchase_timestamp            0
order_delivered_customer_date    2965
dtype: int64

Remaining duplicated rows after cleaning: 0
-----------------------------------------------------------------
data cleaned!

In [192]:
from sqlalchemy import create_engine, VARCHAR , DateTime , Integer, Float , text

# Database connection details
DATABASE_TYPE = 'mysql+pymysql'
USERNAME = 'root'
PASSWORD = 'Awsd12345*'
SERVER = 'localhost'
DATABASE = 'project_l'
PORT = 3306 

print("connection successfully!")

# Create the connection string
connection_string = f'{DATABASE_TYPE}://{USERNAME}:{PASSWORD}@{SERVER}:{PORT}/{DATABASE}'
engine = create_engine(connection_string)

# Define the column types explicitly for each table
customers_dtype = {
    'customer_id': VARCHAR(255),
    'order_id': VARCHAR(255),
    'customer_city': VARCHAR(255),
    'customer_state': VARCHAR(255),
    'geolocation_city': VARCHAR(255)
}

orders_dtype = {
    'order_id': VARCHAR(255),
    'product_id':VARCHAR(255),
    'customer_id': VARCHAR(255),
    'seller_id': VARCHAR(255),
    'order_status': VARCHAR(255),
    'order_purchase_timestamp': DateTime(),
    'order_approved_at': DateTime(),
    'order_delivered_carrier_date': DateTime(),
    'order_delivered_customer_date': DateTime(),
    'order_estimated_delivery_date' : DateTime(),
    'shipping_limit_date': DateTime(),
    'price': Float(),
    'freight_value': Float(),
    'total_price': Float(),
    'delivery_time': Integer(),
    'sum_of_payment_installments': Float(),
    'profit_margin': Float(),
    'cumulative_sales': Float(),
    'rolling_avg_delivery_time': Integer()
}
products_dtype = {
    'product_id': VARCHAR(255),
    'product_category_name': VARCHAR(255),
    'product_name_lenght': Integer(),
    'product_description_lenght': Integer(),
    'product_photos_qty': Integer()
}

sellers_dtype = {
    'seller_id': VARCHAR(255),
    'geolocation_city': VARCHAR(255),
    'geolocation_state': VARCHAR(255)
}

date_dimension_dtype = {
    'order_id': VARCHAR(255),
    'order_purchase_timestamp': DateTime(),
    'order_delivered_customer_date': DateTime()
}

# Write the DataFrames to MySQL with explicit column types
orders.to_sql('orders', con=engine, if_exists='replace', index=False, dtype=orders_dtype)
customers.to_sql('customers', con=engine, if_exists='replace', index=False, dtype=customers_dtype)
products.to_sql('products', con=engine, if_exists='replace', index=False, dtype=products_dtype)
sellers.to_sql('sellers', con=engine, if_exists='replace', index=False, dtype=sellers_dtype)
date_dimension.to_sql('date_dimension', con=engine, if_exists='replace', index=False, dtype=date_dimension_dtype)

# Execute SQL to add primary keys
with engine.connect() as connection:
    connection.execute(text("ALTER TABLE customers ADD PRIMARY KEY (customer_id);"))
    connection.execute(text("ALTER TABLE orders ADD PRIMARY KEY (order_id);"))
    connection.execute(text("ALTER TABLE products ADD PRIMARY KEY (product_id);"))
    connection.execute(text("ALTER TABLE sellers ADD PRIMARY KEY (seller_id);"))
    connection.execute(text("ALTER TABLE date_dimension ADD PRIMARY KEY (order_id);"))

print("Tables successfully saved to MySQL!")

connection successfully!
Tables successfully saved to MySQL!

## 4.5 SQL Server Validation

In [193]:
import pandas as pd
from sqlalchemy import create_engine

def create_mysql_connection():
    engine = create_engine(connection_string)
    return engine

# Query the database
def query_mysql_table(query):
    engine = create_mysql_connection()
    try:
        df = pd.read_sql(query, engine)
        return df
    except Exception as e:
        print(f"Error: {e}")
    finally:
        engine.dispose()  # Clean up the engine

# Example usage
if __name__ == "__main__":
    # SQL query to get counts from multiple tables
    sql_query = """
        SELECT (SELECT COUNT(*) FROM orders) AS order_count,
       (SELECT COUNT(*) FROM customers) AS customer_count,
       (SELECT COUNT(*) FROM products) AS product_count,
       (SELECT COUNT(*) FROM date_dimension) AS data_dimension_count,
       (SELECT COUNT(*) FROM sellers s) AS seller_count;
    """

    result_df = query_mysql_table(sql_query)
    
    if result_df is not None:
        # Get counts from the database
        db_order_count = result_df['order_count'].iloc[0]
        db_customer_count = result_df['customer_count'].iloc[0]
        db_product_count = result_df['product_count'].iloc[0]
        db_seller_count = result_df['seller_count'].iloc[0]
        db_data_dimension_count = result_df['data_dimension_count'].iloc[0]

        # Get counts from the DataFrames
        df_order_count = len(orders)
        df_customer_count = len(customers)
        df_product_count = len(products)
        df_seller_count = len(sellers)
        df_data_dimension_count = len(date_dimension)

compare_results_df = pd.DataFrame ({'table': ['order','customer','product','seller','data_dimension'] , 
                                 'database': [db_order_count,db_customer_count,db_product_count, db_seller_count,db_data_dimension_count],
                                 'dataframe': [df_order_count,df_customer_count,df_product_count, df_seller_count,df_data_dimension_count]
                                })
compare_results_df

            table  database  dataframe
0           order     98666      98666
1        customer     99441      99441
2         product     32951      32951
3          seller      3095       3095
4  data_dimension     99441      99441

In [194]:
## validation query to check if the columns have the pre-set schema 
query = """
SELECT TABLE_NAME, COLUMN_NAME, DATA_TYPE, IS_NULLABLE
FROM information_schema.columns
WHERE table_schema = 'project_l'
ORDER BY TABLE_NAME, ORDINAL_POSITION;
"""

with engine.connect() as connection:
    result = connection.execute(text(query))
    df_columns = pd.DataFrame(result.fetchall(), columns=result.keys())

print(df_columns)

        TABLE_NAME                    COLUMN_NAME DATA_TYPE IS_NULLABLE
0        customers                    customer_id   varchar          NO
1        customers                       order_id   varchar         YES
2        customers                  customer_city   varchar         YES
3        customers                 customer_state   varchar         YES
4        customers               geolocation_city   varchar         YES
5   date_dimension                       order_id   varchar          NO
6   date_dimension       order_purchase_timestamp  datetime         YES
7   date_dimension  order_delivered_customer_date  datetime         YES
8           orders                       order_id   varchar          NO
9           orders                    customer_id   varchar         YES
10          orders                     product_id   varchar         YES
11          orders                   order_status   varchar         YES
12          orders       order_purchase_timestamp  datetime         YES
13          orders              order_approved_at  datetime         YES
14          orders   order_delivered_carrier_date  datetime         YES
15          orders  order_delivered_customer_date  datetime         YES
16          orders  order_estimated_delivery_date  datetime         YES
17          orders                    total_price     float         YES
18          orders                  delivery_time       int         YES
19          orders    sum_of_payment_installments     float         YES
20          orders                  profit_margin     float         YES
21          orders               cumulative_sales     float         YES
22          orders      rolling_avg_delivery_time       int         YES
23          orders                      seller_id   varchar         YES
24        products                     product_id   varchar          NO
25        products          product_category_name   varchar         YES
26        products            product_name_length    double         YES
27        products     product_description_length    double         YES
28        products             product_photos_qty       int         YES
29         sellers                      seller_id   varchar          NO
30         sellers               geolocation_city   varchar         YES
31         sellers              geolocation_state   varchar         YES

## QUERY EXERCISES

## TOTAL SALES per product category
SELECT 
    p.product_category_name, 
    SUM(o.total_price) AS total_sales
FROM 
    orders o
JOIN 
    products p
ON 
    o.product_id = p.product_id
GROUP BY 
    p.product_category_name
ORDER BY 
    total_sales DESC;
   
   
## The average delivery time per seller from the fact table
SELECT 
    o.seller_id, 
    AVG(TIMESTAMPDIFF(DAY, o.order_purchase_timestamp, o.order_delivered_customer_date)) AS avg_delivery_time
FROM 
    orders o
WHERE 
    o.order_delivered_customer_date IS NOT NULL
GROUP BY 
    o.seller_id
ORDER BY 
    avg_delivery_time ASC;
   

## Number of orders from each state from the customer dimension.
SELECT 
    c.customer_state, 
    COUNT(o.order_id) AS num_orders
FROM 
    customers c
JOIN 
    orders o
ON 
    c.customer_id = o.customer_id
GROUP BY 
    c.customer_state
ORDER BY 
    num_orders DESC;